.form-signup {
    background-color: white;
    border-radius: 10px;
    padding: 40px 30px 30px 30px;
    margin-left: 50px;
    margin-right: 50px;

    .notification {
        padding: 10px;
        font-size: 14px;
    }

    .btn-signup {
        background-color: black;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
}